In [43]:
import pandas as pd

In [44]:
credito = pd.read_csv('./Cartera29122022.csv', encoding='ISO-8859-1')
credito.head(3)

,SUC,SOCIO,NOMBRE_DEL_SOCIO,F. NACIMIENTO,SEXO,NOMBRE_ESTADO,NOMBRE_MUNICIPIO,NOMBRE_COLONIA,NOMBRE_LOCALIDAD,POBLACION,...,C VENCIDO,SCAPITAL,D. VEN,D X VEN,INTERES,MORA,DESCRIPCION PRODUCTO,NOMBRE PROMOTOR,CRED,DESTINO
0,1,2,ISABEL CRUZ HERNANDEZ,08/07/1958,F,MORELOS,CUERNAVACA,CUERNAVACA,CUERNAVACA,"338,650",...,0.00,"45,833.33",0,12,343.74,0.00,CREDITO COLABORADORES,TEMPORAL,312,OTROS
1,1,14,CLAUDIA GONZALEZ CARDENAS,29/04/1978,F,DISTRITO FEDERAL,BENITO JUAREZ,DEL VALLE SUR,DEL VALLE SUR,"2,622",...,0.00,"30,793.63",0,47,569.68,0.00,CREDITO COLABORADORES,TEMPORAL,302,OTROS
2,1,19,GABRIELA BAUTISTA HERNANDEZ,08/03/1986,F,DISTRITO FEDERAL,LA MAGDALENA CONTRERAS,EL ROSAL,EL ROSAL,"1,710",...,0.00,"11,235.35",0,15,5.61,0.00,CREDITO COLABORADORES,TEMPORAL,301,GASTOS MEDICOS

In [45]:
credito.columns

Index(['SUC', 'SOCIO', 'NOMBRE_DEL_SOCIO', 'F. NACIMIENTO', 'SEXO',
       'NOMBRE_ESTADO', 'NOMBRE_MUNICIPIO', 'NOMBRE_COLONIA',
       'NOMBRE_LOCALIDAD', 'POBLACION', 'F. EMISION', 'MONTO', 'F. VENCE',
       'T. INT', 'N. PAG', 'F. PAG', 'C VIGENTE', 'C VENCIDO', 'SCAPITAL',
       'D. VEN', 'D X VEN', 'INTERES', 'MORA', 'DESCRIPCION PRODUCTO',
       'NOMBRE PROMOTOR', 'CRED', 'DESTINO'],
      dtype='object')

In [46]:
cols_cred=['SUC', 'SOCIO', 'CRED', 'DESCRIPCION PRODUCTO','SCAPITAL']

In [47]:
df_cred= credito[cols_cred]
df_cred

       SUC  SOCIO   CRED    DESCRIPCION PRODUCTO   SCAPITAL
0        1      2    312   CREDITO COLABORADORES  45,833.33
1        1     14    302   CREDITO COLABORADORES  30,793.63
2        1     19    301   CREDITO COLABORADORES  11,235.35
3        1     27    175   CREDITO COLABORADORES   9,160.03
4        1     28     95   CREDITO COLABORADORES  10,182.18
...    ...    ...    ...                     ...        ...
10106  205  2,849  2,590  CREDITO MEJORA LA CASA  30,000.00
10107  205  2,851  2,592         CREDITO NEGOCIO  22,000.00
10108  205  2,853  2,594         CREDITO NEGOCIO  30,000.00
10109  205  2,854  2,596         CREDITO NEGOCIO  30,000.00
10110  205  2,857  2,595         CREDITO NEGOCIO  30,000.00

[10111 rows x 5 columns]

In [48]:
captacion= pd.read_csv('./Captacion29122022.csv', encoding='ISO-8859-1')
captacion.head(3)

   SUC SOCIO CUENTA          Producto F. Inicio F. Venc  % Int   SALDO
0    1     1      2  AHORRO CORRIENTE  19/01/18     NaN    5.0  556.87
1    1     2      2  AHORRO CORRIENTE  13/03/18     NaN    5.0  371.35
2    1     3      2  AHORRO CORRIENTE  08/11/18     NaN    5.0  404.06

In [49]:
cols_capt=['SUC', 'SOCIO', 'CUENTA', 'Producto','SALDO']
df_capt =captacion[cols_capt]
df_capt

       SUC  SOCIO CUENTA          Producto       SALDO
0        1      1      2  AHORRO CORRIENTE      556.87
1        1      2      2  AHORRO CORRIENTE      371.35
2        1      3      2  AHORRO CORRIENTE      404.06
3        1      4      2  AHORRO CORRIENTE       51.25
4        1      6      2  AHORRO CORRIENTE    5,782.02
...    ...    ...    ...               ...         ...
27404  204  1,224    580  DPF A 360 DÃ¯Â¿Â½as  207,358.21
27405  204  1,285    622   DPF A 91 DÃ¯Â¿Â½as   30,441.04
27406  205  1,172     29  DPF A 181 DÃ¯Â¿Â½as    4,277.29
27407  205  2,134     23  DPF A 360 DÃ¯Â¿Â½as    8,932.64
27408  205  2,803     28  DPF A 181 DÃ¯Â¿Â½as   50,458.33

[27409 rows x 5 columns]

In [50]:
result = pd.merge(df_capt, df_cred, how="outer", on=["SUC", "SOCIO"])
result

,SUC,SOCIO,CUENTA,Producto,SALDO,CRED,DESCRIPCION PRODUCTO,SCAPITAL
0,1,1,2,AHORRO CORRIENTE,556.87,NaN,NaN,NaN
1,1,2,2,AHORRO CORRIENTE,371.35,312,CREDITO COLABORADORES,"45,833.33"
2,1,3,2,AHORRO CORRIENTE,404.06,NaN,NaN,NaN
3,1,4,2,AHORRO CORRIENTE,51.25,NaN,NaN,NaN
4,1,6,2,AHORRO CORRIENTE,"5,782.02",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
27430,204,"1,017",651,DPF A 60 DÃ¯Â¿Â½as,"13,985.06",NaN,NaN,NaN
27431,204,"1,036",616,DPF A 180 DÃ¯Â¿Â½as,"35,005.90",NaN,NaN,NaN
27432,204,"1,224",580,DPF A 360 DÃ¯Â¿Â½as,"207,358.21",NaN,NaN,NaN
27433,4,"1,891",NaN,NaN,NaN,"3,743",CREDITO MEJORA LA CASA,"22,426.38"
27434,202,"1,544",NaN,NaN,NaN,"1,890",CREDITO NEGOCIO SOLIDARIO,"1,194.25"

In [52]:
result.to_csv('./cred_capt.csv', index=False)

PermissionError: [Errno 13] Permission denied: './cred_capt.csv'

In [ ]:
cols_capt=['SUC', 'SOCIO', 'Producto','SALDO']
df_capt =captacion[cols_capt]
df_capt

       SUC  SOCIO          Producto       SALDO
0        1      1  AHORRO CORRIENTE      556.87
1        1      2  AHORRO CORRIENTE      371.35
2        1      3  AHORRO CORRIENTE      404.06
3        1      4  AHORRO CORRIENTE       51.25
4        1      6  AHORRO CORRIENTE    5,782.02
...    ...    ...               ...         ...
27404  204  1,224  DPF A 360 DÃ¯Â¿Â½as  207,358.21
27405  204  1,285   DPF A 91 DÃ¯Â¿Â½as   30,441.04
27406  205  1,172  DPF A 181 DÃ¯Â¿Â½as    4,277.29
27407  205  2,134  DPF A 360 DÃ¯Â¿Â½as    8,932.64
27408  205  2,803  DPF A 181 DÃ¯Â¿Â½as   50,458.33

[27409 rows x 4 columns]

In [ ]:
df_capt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27409 entries, 0 to 27408
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SUC       27409 non-null  int64
 1   SOCIO     27409 non-null  object
 2   Producto  27409 non-null  object
 3   SALDO     27409 non-null  object
dtypes: int64(1), object(3)
memory usage: 856.7+ KB

In [53]:
df_capt['SALDOF']= df_capt['SALDO'].str.replace(',', '').astype(float)

C:\Users\Usuario Innova\AppData\Local\Temp\ipykernel_17932\56952179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_capt['SALDOF']= df_capt['SALDO'].str.replace(',', '').astype(float)

In [54]:
df_capt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27409 entries, 0 to 27408
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SUC       27409 non-null  int64
 1   SOCIO     27409 non-null  object
 2   CUENTA    27409 non-null  object
 3   Producto  27409 non-null  object
 4   SALDO     27409 non-null  object
 5   SALDOF    27409 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ MB

In [55]:
capt_grp=df_capt.groupby(['SUC', 'SOCIO'])
saldo_capt=capt_grp['SALDOF'].sum()
saldo_capt

SUC  SOCIO
1    1        556.87
     10       890.78
     104       40.66
     105       78.63
     106       29.39
               ...
205  981        0.00
     983       39.54
     985        0.65
     991      572.40
     995        1.83
Name: SALDOF, Length: 21908, dtype: float64

In [56]:
saldo_capt.info()

<class 'pandas.core.series.Series'>
MultiIndex: 21908 entries, (1, '1') to (205, '995')
Series name: SALDOF
Non-Null Count  Dtype
--------------  -----
21908 non-null  float64
dtypes: float64(1)
memory usage: 266.7+ KB

In [57]:
saldo_capt.to_csv('./saldo_capt.csv')

In [58]:
cols_cred=['SUC', 'SOCIO','SCAPITAL']

In [59]:
df_cred= credito[cols_cred]
df_cred

       SUC  SOCIO   SCAPITAL
0        1      2  45,833.33
1        1     14  30,793.63
2        1     19  11,235.35
3        1     27   9,160.03
4        1     28  10,182.18
...    ...    ...        ...
10106  205  2,849  30,000.00
10107  205  2,851  22,000.00
10108  205  2,853  30,000.00
10109  205  2,854  30,000.00
10110  205  2,857  30,000.00

[10111 rows x 3 columns]

In [60]:
result = pd.merge(saldo_capt, df_cred, how="outer", on=["SUC", "SOCIO"])
result

       SUC  SOCIO  SALDOF   SCAPITAL
0        1      1  556.87        NaN
1        1     10  890.78        NaN
2        1    104   40.66        NaN
3        1    105   78.63        NaN
4        1    106   29.39        NaN
...    ...    ...     ...        ...
21916  205    985    0.65  23,243.48
21917  205    991  572.40        NaN
21918  205    995    1.83        NaN
21919    4  1,891     NaN  22,426.38
21920  202  1,544     NaN   1,194.25

[21921 rows x 4 columns]

In [61]:
result.to_csv('./cred_capt2.csv')