In [47]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

people

{'first': ['Corey', 'Jane', 'John'],
 'last': ['Schafer', 'Doe', 'Doe'],
 'email': ['CoreyMSchafer@gmail.com',
  'JaneDoe@email.com',
  'JohnDoe@email.com']}

In [48]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [49]:
import pandas as pd

## Esto es un data frame

In [50]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [51]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

## Una Serie es un dataframe de una sola columna

In [52]:
type(df['email'])

pandas.core.series.Series

In [53]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [54]:
df.count()

first    3
last     3
email    3
dtype: int64

## Esto es otro data frame

In [55]:
df[['first','email']]

   first                    email
0  Corey  CoreyMSchafer@gmail.com
1   Jane        JaneDoe@email.com
2   John        JohnDoe@email.com

In [56]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

## Loc & iLoc

In [57]:
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [58]:
df.iloc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [59]:
df.iloc[[1,2]]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [60]:
df.iloc[[1,2],2]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [61]:
df.iloc[[1,2],[1.2]]

  last
1  Doe
2  Doe

In [62]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [63]:
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [64]:
df.loc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [65]:
df.loc[[0,1],'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [66]:
df.loc[[0,1],['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [67]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

# Ch 4 Filters

In [68]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [70]:
filt = (df['last'] == 'Doe')

In [71]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [72]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [73]:
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

### And (&)

In [81]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John' )

In [82]:
df.loc[filt, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

### Or(|)

In [89]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John' )

In [90]:
df.loc[filt]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

### Nagaci√≥n

In [91]:
df.loc[-filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com