In [373]:
import re

https://www.youtube.com/watch?v=Mc2j8Q-MHB4&list=LL&index=7

https://regex101.com/

https://www.youtube.com/watch?v=sa-TUpSx1JA

The special sequences consist of '\' and a character from the list below. If the ordinary character is not an ASCII digit or an ASCII letter, then the resulting RE will match the second character. For example, \$ matches the character '$'.

#### \number
Matches the contents of the group of the same number. Groups are numbered starting from 1. For example, (.+) \1 matches 'the the' or '55 55', but not 'thethe' (note the space after the group). This special sequence can only be used to match one of the first 99 groups. If the first digit of number is 0, or number is 3 octal digits long, it will not be interpreted as a group match, but as the character with octal value number. Inside the '[' and ']' of a character class, all numeric escapes are treated as characters.

#### \A
Matches only at the start of the string.

#### \b
Matches the empty string, but only at the beginning or end of a word. A word is defined as a sequence of word characters. Note that formally, \b is defined as the boundary between a \w and a \W character (or vice versa), or between \w and the beginning/end of the string. This means that r'\bfoo\b' matches 'foo', 'foo.', '(foo)', 'bar foo baz' but not 'foobar' or 'foo3'.

By default Unicode alphanumerics are the ones used in Unicode patterns, but this can be changed by using the ASCII flag. Word boundaries are determined by the current locale if the LOCALE flag is used. Inside a character range, \b represents the backspace character, for compatibility with Python’s string literals.

#### \B
Matches the empty string, but only when it is not at the beginning or end of a word. This means that r'py\B' matches 'python', 'py3', 'py2', but not 'py', 'py.', or 'py!'. \B is just the opposite of \b, so word characters in Unicode patterns are Unicode alphanumerics or the underscore, although this can be changed by using the ASCII flag. Word boundaries are determined by the current locale if the LOCALE flag is used.

####  \d
For Unicode (str) patterns:
Matches any Unicode decimal digit (that is, any character in Unicode character category [Nd]). This includes [0-9], and also many other digit characters. If the ASCII flag is used only [0-9] is matched.

For 8-bit (bytes) patterns:
Matches any decimal digit; this is equivalent to [0-9].

#### \D
Matches any character which is not a decimal digit. This is the opposite of \d. If the ASCII flag is used this becomes the equivalent of [^0-9].

#### \s
For Unicode (str) patterns:
Matches Unicode whitespace characters (which includes [ \t\n\r\f\v], and also many other characters, for example the non-breaking spaces mandated by typography rules in many languages). If the ASCII flag is used, only [ \t\n\r\f\v] is matched.

For 8-bit (bytes) patterns:
Matches characters considered whitespace in the ASCII character set; this is equivalent to [ \t\n\r\f\v].

#### \S
Matches any character which is not a whitespace character. This is the opposite of \s. If the ASCII flag is used this becomes the equivalent of [^ \t\n\r\f\v].

####  \w
For Unicode (str) patterns:
Matches Unicode word characters; this includes most characters that can be part of a word in any language, as well as numbers and the underscore. If the ASCII flag is used, only [a-zA-Z0-9_] is matched.

For 8-bit (bytes) patterns:
Matches characters considered alphanumeric in the ASCII character set; this is equivalent to [a-zA-Z0-9_]. If the LOCALE flag is used, matches characters considered alphanumeric in the current locale and the underscore.

#### \W
Matches any character which is not a word character. This is the opposite of \w. If the ASCII flag is used this becomes the equivalent of [^a-zA-Z0-9_]. If the LOCALE flag is used, matches characters which are neither alphanumeric in the current locale nor the underscore.

####  \Z
Matches only at the end of the string.The special sequences consist of '\' and a character from the list below. If the ordinary character is not an ASCII digit or an ASCII letter, then the resulting RE will match the second character. For example, \$ matches the character '$'.

#### \number
Matches the contents of the group of the same number. Groups are numbered starting from 1. For example, (.+) \1 matches 'the the' or '55 55', but not 'thethe' (note the space after the group). This special sequence can only be used to match one of the first 99 groups. If the first digit of number is 0, or number is 3 octal digits long, it will not be interpreted as a group match, but as the character with octal value number. Inside the '[' and ']' of a character class, all numeric escapes are treated as characters.

## Identifiers	Modifiers	White space characters	
* \d= any number (a digit) 	
* \d represents a digit.Ex: 
* \d{1,5} it will declare digit between 1,5 like 424,444,545 etc.
* \n = new line	
* Escape required:
. + * ? [] $ ^ () {} | \

* \D= anything but a number (a non-digit)	
*    + = matches 1 or more	\s= space
\s = space
\t =tab
(tab,space,newline etc.)	
? = matches 0 or 1	
\S= anything but a space	
* = 0 or more	
* \e = escape	

* \w = letters ( Match alphanumeric character, including “_”)	
* $ match end of a string	
* \r = carriage return	
* \W =anything but letters ( Matches a non-alphanumeric character excluding “_”)	
* ^ match start of a string	\f= form feed	
* . = anything but letters (periods)	
* | matches either or x/y	—————–

In [440]:
texto = '''Use pandas python DataFrame.astype(int) and DataFrame.apply() 
methods to convert a column to int (float/string to integer/int64/int32 dtype) data type. 
If you are converting float,192.168.5.24 I believe you would know float is bigger than int type, decimal.
Python
Python!
Python!!
Python!!!
Python!!!!
--Python
--Python--
-Python-
Python.
Python...
PYthOn
pYthON
555-11-98-74
195-197-198
196-206-306
001-197-198-2658
-248-25-16-8745-25
195
15-02-2021
265
365247
2022-0110

and converting into int would lose any value after the decimal.'''

In [375]:
# \d  digitos 0- 9
r = re.search(r'\d+' , texto)
print(r)

<re.Match object; span=(126, 128), match='64'>

In [376]:
re.findall(r'\d' , texto)

['6',
 '4',
 '3',
 '2',
 '1',
 '9',
 '2',
 '1',
 '6',
 '8',
 '5',
 '2',
 '4',
 '5',
 '5',
 '5',
 '1',
 '1',
 '9',
 '8',
 '7',
 '4',
 '1',
 '9',
 '5',
 '1',
 '9',
 '7',
 '1',
 '9',
 '8',
 '1',
 '9',
 '6',
 '2',
 '0',
 '6',
 '3',
 '0',
 '6',
 '0',
 '0',
 '1',
 '1',
 '9',
 '7',
 '1',
 '9',
 '8',
 '2',
 '6',
 '5',
 '8',
 '2',
 '4',
 '8',
 '2',
 '5',
 '1',
 '6',
 '8',
 '7',
 '4',
 '5',
 '2',
 '5',
 '1',
 '9',
 '5',
 '2',
 '6',
 '5',
 '3',
 '6',
 '5',
 '2',
 '4',
 '7']

#### \b match al inicio o fin de la palabra

In [436]:
re.findall(r'\b.{4}' , texto)

['Use ',
 'pand',
 ' pyt',
 ' Dat',
 '.ast',
 '(int',
 ') an',
 ' Dat',
 '.app',
 'meth',
 ' to ',
 'conv',
 ' a c',
 ' to ',
 'int ',
 'floa',
 '/str',
 ' to ',
 'inte',
 '/int',
 '/int',
 ' dty',
 ') da',
 ' typ',
 'If y',
 ' are',
 ' con',
 ' flo',
 ',192',
 '.168',
 '.5.2',
 ' I b',
 ' you',
 ' wou',
 ' kno',
 ' flo',
 ' is ',
 'bigg',
 ' tha',
 ' int',
 ' typ',
 ', de',
 'Pyth',
 'Pyth',
 'Pyth',
 'Pyth',
 'Pyth',
 '!!!!',
 'Pyth',
 'Pyth',
 'Pyth',
 'Pyth',
 'Pyth',
 'PYth',
 'pYth',
 '555-',
 '11-9',
 '195-',
 '197-',
 '196-',
 '206-',
 '001-',
 '197-',
 '198-',
 '2658',
 '248-',
 '25-1',
 '-874',
 '3652',
 'and ',
 'conv',
 ' int',
 ' int',
 ' wou',
 ' los',
 ' any',
 ' val',
 ' aft',
 ' the',
 ' dec']

#### \B  inverse of \b  Match  en medio de la palabra o entre palabras

In [437]:
re.findall(r'\B.{4}' , texto)

['se p',
 'anda',
 's py',
 'thon',
 'ataF',
 'rame',
 'styp',
 'e(in',
 't) a',
 'nd D',
 'ataF',
 'rame',
 'pply',
 'etho',
 'ds t',
 'o co',
 'nver',
 't a ',
 'olum',
 'n to',
 'nt (',
 'loat',
 'trin',
 'g to',
 'nteg',
 'er/i',
 'nt64',
 'nt32',
 'type',
 ' dat',
 'a ty',
 'pe. ',
 'f yo',
 'u ar',
 'e co',
 'nver',
 'ting',
 'loat',
 '92.1',
 '68.5',
 '4 I ',
 'elie',
 've y',
 'ou w',
 'ould',
 'now ',
 'loat',
 's bi',
 'gger',
 'han ',
 'nt t',
 'ype,',
 ' dec',
 'imal',
 'ytho',
 'ytho',
 'ytho',
 'ytho',
 'n!!!',
 'ytho',
 'n!!!',
 '--Py',
 'thon',
 '--Py',
 'thon',
 '-Pyt',
 'hon-',
 'ytho',
 'ytho',
 'n...',
 'YthO',
 'YthO',
 '55-1',
 '1-98',
 '95-1',
 '97-1',
 '96-2',
 '06-3',
 '01-1',
 '97-1',
 '98-2',
 '-248',
 '5-16',
 '745-',
 '6524',
 'nd c',
 'onve',
 'rtin',
 'g in',
 'to i',
 'nt w',
 'ould',
 'ose ',
 'ny v',
 'alue',
 'fter',
 'he d',
 'ecim']

In [377]:
re.findall(r'\D' , texto)

['U',
 's',
 'e',
 ' ',
 'p',
 'a',
 'n',
 'd',
 'a',
 's',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'D',
 'a',
 't',
 'a',
 'F',
 'r',
 'a',
 'm',
 'e',
 '.',
 'a',
 's',
 't',
 'y',
 'p',
 'e',
 '(',
 'i',
 'n',
 't',
 ')',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'D',
 'a',
 't',
 'a',
 'F',
 'r',
 'a',
 'm',
 'e',
 '.',
 'a',
 'p',
 'p',
 'l',
 'y',
 '(',
 ')',
 ' ',
 '\n',
 'm',
 'e',
 't',
 'h',
 'o',
 'd',
 's',
 ' ',
 't',
 'o',
 ' ',
 'c',
 'o',
 'n',
 'v',
 'e',
 'r',
 't',
 ' ',
 'a',
 ' ',
 'c',
 'o',
 'l',
 'u',
 'm',
 'n',
 ' ',
 't',
 'o',
 ' ',
 'i',
 'n',
 't',
 ' ',
 '(',
 'f',
 'l',
 'o',
 'a',
 't',
 '/',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 ' ',
 't',
 'o',
 ' ',
 'i',
 'n',
 't',
 'e',
 'g',
 'e',
 'r',
 '/',
 'i',
 'n',
 't',
 '/',
 'i',
 'n',
 't',
 ' ',
 'd',
 't',
 'y',
 'p',
 'e',
 ')',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 't',
 'y',
 'p',
 'e',
 '.',
 ' ',
 '\n',
 'I',
 'f',
 ' ',
 'y',
 'o',
 'u',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'c',
 'o',
 'n',
 'v',
 'e',
 'r',
 't',
 'i',
 'n',
 'g',
 ' ',
 'f',
 'l',
 'o',
 'a',
 't',
 ',',
 '.',
 '.',
 '.',
 ' ',
 'I',
 ' ',
 'b',
 'e',
 'l',
 'i',
 'e',
 'v',
 'e',
 ' ',
 'y',
 'o',
 'u',
 ' ',
 'w',
 'o',
 'u',
 'l',
 'd',
 ' ',
 'k',
 'n',
 'o',
 'w',
 ' ',
 'f',
 'l',
 'o',
 'a',
 't',
 ' ',
 'i',
 's',
 ' ',
 'b',
 'i',
 'g',
 'g',
 'e',
 'r',
 ' ',
 't',
 'h',
 'a',
 'n',
 ' ',
 'i',
 'n',
 't',
 ' ',
 't',
 'y',
 'p',
 'e',
 ',',
 ' ',
 'd',
 'e',
 'c',
 'i',
 'm',
 'a',
 'l',
 '.',
 '\n',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '\n',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '!',
 '\n',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '!',
 '!',
 '\n',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '!',
 '!',
 '!',
 '\n',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '!',
 '!',
 '!',
 '!',
 '\n',
 '-',
 '-',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '\n',
 '-',
 '-',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '-',
 '-',
 '\n',
 '-',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '-',
 '\n',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '.',
 '\n',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '.',
 '.',
 '.',
 '\n',
 'P',
 'Y',
 't',
 'h',
 'O',
 'n',
 '\n',
 'p',
 'Y',
 't',
 'h',
 'O',
 'N',
 '\n',
 '-',
 '-',
 '-',
 '\n',
 '-',
 '-',
 '\n',
 '-',
 '-',
 '\n',
 '-',
 '-',
 '-',
 '\n',
 '-',
 '-',
 '-',
 '-',
 '-',
 '\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'a',
 'n',
 'd',
 ' ',
 'c',
 'o',
 'n',
 'v',
 'e',
 'r',
 't',
 'i',
 'n',
 'g',
 ' ',
 'i',
 'n',
 't',
 'o',
 ' ',
 'i',
 'n',
 't',
 ' ',
 'w',
 'o',
 'u',
 'l',
 'd',
 ' ',
 'l',
 'o',
 's',
 'e',
 ' ',
 'a',
 'n',
 'y',
 ' ',
 'v',
 'a',
 'l',
 'u',
 'e',
 ' ',
 'a',
 'f',
 't',
 'e',
 'r',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'd',
 'e',
 'c',
 'i',
 'm',
 'a',
 'l',
 '.']

In [378]:
re.findall(r'\.' , texto)

['.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.']

#### ^ inicio y $ fin

In [379]:
re.findall(r'\ .+$' , texto)

[' converting into int would lose any value after the decimal.']

In [380]:
re.findall(r'\b^.+' , texto)

['Use pandas python DataFrame.astype(int) and DataFrame.apply() ']

In [381]:
re.findall(r'\d+' , texto)

['64',
 '32',
 '192',
 '168',
 '5',
 '24',
 '555',
 '11',
 '98',
 '74',
 '195',
 '197',
 '198',
 '196',
 '206',
 '306',
 '001',
 '197',
 '198',
 '2658',
 '248',
 '25',
 '16',
 '8745',
 '25',
 '195',
 '265',
 '365247']

#### * 0 o más

In [382]:
re.findall(r'\bPython!*' , texto)

['Python',
 'Python!',
 'Python!!',
 'Python!!!',
 'Python!!!!',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python']

#### + 1 o más

In [383]:
re.findall(r'\bPython!+' , texto)

['Python!', 'Python!!', 'Python!!!', 'Python!!!!']

#### ? 0 o 1

In [384]:
re.findall(r'\bPython!?' , texto)

['Python',
 'Python!',
 'Python!',
 'Python!',
 'Python!',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python']

#### {x} numero exacto

In [385]:
re.findall(r'\bPython!{3}' , texto)

['Python!!!', 'Python!!!']

#### {x,y}  de x a y veces

In [386]:
re.findall(r'\bPython!{2,4}' , texto)

['Python!!', 'Python!!!', 'Python!!!!']

In [387]:
re.findall(r'\bPython!{2,}' , texto)

['Python!!', 'Python!!!', 'Python!!!!']

In [388]:
re.findall(r'\bPython!!!*' , texto)

['Python!!', 'Python!!!', 'Python!!!!']

In [389]:
re.findall(r'\bPython!!+' , texto)

['Python!!', 'Python!!!', 'Python!!!!']

In [390]:
print(texto)

Use pandas python DataFrame.astype(int) and DataFrame.apply()
methods to convert a column to int (float/string to integer/int64/int32 dtype) data type.
If you are converting float,192.168.5.24 I believe you would know float is bigger than int type, decimal.
Python
Python!
Python!!
Python!!!
Python!!!!
--Python
--Python--
-Python-
Python.
Python...
PYthOn
pYthON
555-11-98-74
195-197-198
196-206-306
001-197-198-2658
-248-25-16-8745-25
195
265
365247

and converting into int would lose any value after the decimal.

#### . (cualquier caracter)

#### + is greedy (codicioso), toma la mayar cantidad de coincidencias pe.

In [391]:
re.findall(r'\b-.+-' , texto)

['-11-98-', '-197-', '-206-', '-197-198-', '-25-16-8745-']

In [392]:
re.findall(r'\-.+-' , texto)

['--Python--',
 '-Python-',
 '-11-98-',
 '-197-',
 '-206-',
 '-197-198-',
 '-248-25-16-8745-']

#### ? is lazy (peresozo), toma la menor cantidad de coincidencias pe.

In [393]:
re.findall(r'\b-.+?-' , texto)

['-11-', '-197-', '-206-', '-197-', '-25-', '-8745-']

In [394]:
re.findall(r'\-.+?-' , texto)

['--Python-', '-Python-', '-11-', '-197-', '-206-', '-197-', '-248-', '-16-']

In [395]:
re.findall(r'\-.+?-' , texto)

['--Python-', '-Python-', '-11-', '-197-', '-206-', '-197-', '-248-', '-16-']

In [396]:
re.findall(r'\d{3}' , texto)

['192',
 '168',
 '555',
 '195',
 '197',
 '198',
 '196',
 '206',
 '306',
 '001',
 '197',
 '198',
 '265',
 '248',
 '874',
 '195',
 '265',
 '365',
 '247']

In [397]:
re.findall(r'\d{3}-\d{3}' , texto)

['195-197', '196-206', '001-197', '198-265']

In [398]:
re.findall(r'\-\d{3}-\d{3}' , texto)

['-197-198', '-206-306', '-197-198']

In [442]:
re.findall(r'\-\d{3}-\d{3}-' , texto)

['-197-198-']

In [445]:
print(texto)

Use pandas python DataFrame.astype(int) and DataFrame.apply()
methods to convert a column to int (float/string to integer/int64/int32 dtype) data type.
If you are converting float,192.168.5.24 I believe you would know float is bigger than int type, decimal.
Python
Python!
Python!!
Python!!!
Python!!!!
--Python
--Python--
-Python-
Python.
Python...
PYthOn
pYthON
555-11-98-74
195-197-198
196-206-306
001-197-198-2658
-248-25-16-8745-25
195
15-02-2021
265
365247
2022-0110

and converting into int would lose any value after the decimal.

In [446]:
re.findall(r'\d{2}-\d{2}-\d{4}' , texto)

['25-16-8745', '15-02-2021']

#### () Agrupa el resultado de una selección:

In [400]:
re.findall(r'(\d{3})-\d{3}-\d{3}' , texto)

['195', '196', '001']

In [401]:
re.findall(r'(\d{3})' , texto)

['192',
 '168',
 '555',
 '195',
 '197',
 '198',
 '196',
 '206',
 '306',
 '001',
 '197',
 '198',
 '265',
 '248',
 '874',
 '195',
 '265',
 '365',
 '247']

#### [ ]  busca todo los carcteres dentro, pe

In [402]:
re.findall(r'[03]\d{2}' , texto)

['306', '001', '365']

In [403]:
re.findall(r'\-[03]\d{2}' , texto)

['-306']

In [404]:
re.findall(r'[a-r]+', texto)

['e',
 'panda',
 'p',
 'hon',
 'a',
 'a',
 'rame',
 'a',
 'pe',
 'in',
 'and',
 'a',
 'a',
 'rame',
 'appl',
 'me',
 'hod',
 'o',
 'con',
 'er',
 'a',
 'col',
 'mn',
 'o',
 'in',
 'floa',
 'ring',
 'o',
 'in',
 'eger',
 'in',
 'in',
 'd',
 'pe',
 'da',
 'a',
 'pe',
 'f',
 'o',
 'are',
 'con',
 'er',
 'ing',
 'floa',
 'belie',
 'e',
 'o',
 'o',
 'ld',
 'kno',
 'floa',
 'i',
 'bigger',
 'han',
 'in',
 'pe',
 'decimal',
 'hon',
 'hon',
 'hon',
 'hon',
 'hon',
 'hon',
 'hon',
 'hon',
 'hon',
 'hon',
 'h',
 'n',
 'p',
 'h',
 'and',
 'con',
 'er',
 'ing',
 'in',
 'o',
 'in',
 'o',
 'ld',
 'lo',
 'e',
 'an',
 'al',
 'e',
 'af',
 'er',
 'he',
 'decimal']

In [405]:
re.findall(r'[0-9]+', texto)

['64',
 '32',
 '192',
 '168',
 '5',
 '24',
 '555',
 '11',
 '98',
 '74',
 '195',
 '197',
 '198',
 '196',
 '206',
 '306',
 '001',
 '197',
 '198',
 '2658',
 '248',
 '25',
 '16',
 '8745',
 '25',
 '195',
 '265',
 '365247']

In [406]:
re.findall(r'[0-9]{4}', texto)

['2658', '8745', '3652']

In [407]:
re.findall(r'[a-r]{4} ?', texto)

['pand',
 'rame',
 'rame',
 'appl',
 'floa',
 'ring ',
 'eger',
 'floa',
 'beli',
 'floa',
 'bigg',
 'deci',
 'deci']

In [408]:
re.findall(r'([a-zA-Z]+\s){1,5}', texto)

['python ',
 'and ',
 'column ',
 'int ',
 'to ',
 'data ',
 'converting ',
 'know ',
 'int ',
 'Python\n',
 'Python\n',
 'pYthON\n',
 'would ',
 'the ']

Exactly 4 characters and a space

In [409]:
four_s=re.findall(r'\s[\S]{4}\s{1}', texto)
four_s

[' data ', ' know ', ' than ', ' into ', ' lose ']

In [410]:
#four = four_s.replace(' ', '')
four=[]
for c in four_s:
    four.append(c.strip())
four

['data', 'know', 'than', 'into', 'lose']

#### [^ ] Negacion

In [430]:
re.findall(r'[^a-zA-Z-]{4}', texto)

['() \n',
 ',192',
 '.168',
 '.5.2',
 '!!!\n',
 '!!!!',
 '...\n',
 '\n555',
 '74\n1',
 '198\n',
 '306\n',
 '2658',
 '8745',
 '25\n1',
 '95\n2',
 '65\n3',
 '6524']

validar usuario

In [452]:
texto = '''
abc
kjgfds1
usuario123
234user
gonzalo5248
'''

In [453]:
re.findall(r'[a-z1-9]{8,15}', texto)

['usuario123', 'gonzalo5248']

filtrar títulos de personas

In [542]:
texto = '''

Mr. Smith 
Mr. Robinson
Ms. Sanchez
Ms Davis
Msr. duval
Mr T.
Abcd
karen.rodriguez@mail.com
523-254-5874
265 321 9854
Aleluya
joseline1287.gsr@hotmail.org
jessy.rios98@kraken.mx.org

'''

In [610]:
x= re.findall(r'(M(r|s|sr)\.?\s[A-za-z.]+)', texto)
x

[('Mr. Smith', 'r'),
 ('Mr. Robinson', 'r'),
 ('Ms. Sanchez', 's'),
 ('Ms Davis', 's'),
 ('Msr. duval', 'sr'),
 ('Mr T.', 'r')]

In [465]:
re.findall(r'[a-z1-9.]+[@][a-z.]+[a-z]+', texto)

['karen.rodriguez@mail.com',
 'joseline1287.gsr@hotmail.org',
 'jessy.rios98@kraken.mx.org']

In [595]:
x=re.findall(r'[Mm][a-z.]{1,2}\s[a-zA-Z]*' , texto)
x

['Mr. Smith', 'Mr. Robinson', 'Ms. Sanchez', 'Ms Davis', 'Mr T']

In [581]:
x=re.search(r'(Mr|Ms|Msr)\.?\s[A-Z]\w+', texto)
x

In [480]:
re.findall('\d{3}.?\d{3}.?\d{4}', texto)

['523-254-5874', '265 321 9854']

In [558]:
str = """
gi|13195623|ref|NM_024197.1| Mus musculus NADH dehydrogenase (ubiquinone) 1 alp
ha subcomplex 10 (Ndufa10), mRNAGCCGGCGCAGACGGCGAAGTCATGGCCTTGAGGTTGCTGAGACTCGTC
CCGGCGTCGGCTCCCGCGCGCGGCCTCGCGGCCGGAGCCCAGCGCGTGGG (etc)"""
m = re.findall(r'(?<=\().*?(?=\),)', str)
m

['Ndufa10']